[submodule ".emacs.d/emacs-color-theme-solarized"]
	path = .emacs.d/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "js3-mode"]
	path = js3-mode
	url = https://github.com/thomblake/js3-mode.git
[submodule "ace-jump-mode"]
	path = ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
